body {
  margin: 0; /* Remover a margem padrão do corpo do HTML */
  padding: 0; /* Remover o preenchimento padrão do corpo do HTML */
  background-color: rgb(223, 217, 217);
}

/* Estilo de teste para adicionar uma borda e visualizar de forma clara as <div> */
.adicionar-borda {
  border: 5px solid green;
}

/* Cria um espaço para encaixar todos os recursos */
.div-central {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 30px;

  overflow: hidden;
  padding: 10px;
  border-radius: 40px;
  background-color: #ffffff;
}

/* Para dividir a div-central em dois, lado esquerdo e direito, usando o estilo "float"
para garantir que as divs fiquem lado a lado */
.div-esquerda {
  float: left;
  border: 3px black solid;
}

.div-direita {
  float: left;
  border: 3px black solid;
}

/* Estilo para colocar em divs que ficam dentro de outras e acumular um espaço menos da div pai*/
.porcentagemDivPai {
  margin: 3%;
}

/* Estilos para customizar o botão que preenche 100% do tamanho da div */
.botao-customizado-confirmacao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 15px;
  text-align: left;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  width: 100%; /* Largura do botão */
  margin-bottom: 30px;
}

/* Expande para ocupar o espaço disponível */
.botao-customizado-confirmacao span {
  flex-grow: 1; 
}

/* Cria o botão para escolher forma de pagamento */
.botao-selecao-forma-pagamento {
  background-color: #D9E6E6;
  width: 100%;
  display: flex;
}

/* Alinha textos de forma vertical dentro de botões ou divs */
.alinhar-texto-verticalmente {
  display: flex;
  align-items: center;
}

/* Estilo que remove as formatações de hyper link de um texto */
.remover-hyper-link {
  color: inherit;
  text-decoration: none;
}

/* Lado direito, onde encaixa o espaço para as informações de pagamento */
#container-de-pagamento {
  padding: 10px;
  border-radius: 20px;
  background-color: #77ADE2;
}

/* Div para criar o hyper link de voltar a página */
#alterarReserva {
  margin: 10%;
  display: flex;
  text-align: center;
  height: 150px;
  text-align: center;
  line-height: 50%;
  align-items: center;
  justify-items: center;
  justify-content: center;
  color: #303130;
}