/* Para remover a margem e o preenchimento padrão e inserir uma cor de fundo */
body {
    margin: 0;
    padding: 0;
    background-color: rgb(223, 217, 217);
}

/* Estilos para ajustar o tamanho da nav-bar e o encaixe dos elementos dentro dela */
.nav-bar{
    height: 70px;
}

.nav-bar-elementos{
    /* Alinhar com a margem da página */
    margin-left: 15%;
    margin-right: 15%;
    height: 70px;
}

/* Criado para montar uma margem em volta do centro da tela */
.container {
    margin-left: 15%;
    margin-right: 15%;
}

/* Alinha a div central com a margem da página e é criada para encaixar os elementos do index */
.div-central {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 30px;
    overflow: hidden;
}

/* Arrastar o slogan livremente pelo index */
.descolar {
    margin-left: -15%;
    margin-top: 30%;
}
